<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Manager</title>
</head>
<body>
<div align="center">
    <h1>Lista kont</h1>
    <a href="/info">Kliknij tutaj do tabeli z notatkami!</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Login</th>
            <th>Password</th>
            <th>Age</th>
            <th>Locked</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.sn}">ID</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.surname}">Surname</td>
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.notLocked}">Locked</td>
            <td>
                <a th:href="@{'/edit/' + ${user.sn}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${user.sn}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>