<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Start today with<br />
                        <span class="text-primary">StoreEverything</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <form action="/register" method="post"  modelAttribute="user"><!--th:action="@{/addToDb}" th:object="${user}"-->

                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input name="name" type="text" id="name" class="form-control" />
                                        <label class="form-label" for="name">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input name="surname" type="text" id="surname" class="form-control" />
                                        <label class="form-label" for="surname">Last name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <!--Login input -->
                                    <div class="form-outline mb-4">
                                        <input name="login" type="text" id="login" class="form-control" />
                                        <label class="form-label" for="login">Login</label>
                                    </div></div>
                                <div class="col-md-6 mb-4">
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input name="password" type="password" id="password" class="form-control" />
                                        <label class="form-label" for="password">Password</label>
                                    </div></div>

                            </div>
                            <!-- Age input -->
                            <div class="form-outline mb-4">
                                <input name="age" type="number" id="age" class="form-control" />
                                <label class="form-label" for="age">Age</label>
                            </div>
                            <!-- Submit button -->
                            <button id="submit_btn" type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
</body>
</html>